# Ignore everything in Sim subfolder by default
*

# Keep this file
!/.gitignore

# Allow the three Unity folders that should be versioned
!/Assets
!/Packages
!/ProjectSettings

# …and allow everything inside them
!/Assets/**
!/Packages/** 
!/ProjectSettings/**
