<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KDKR Data Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <!-- Header -->
  <header>
    <h1>KDKR Flight Analytics </h1>
  </header>

<div class="container">

  <div>
    <button class="rounded-btn" >Overview</button>
    <button class="rounded-btn" >Mission 1</button>
    <button class="rounded-btn" >Mission 2</button>
    <button class="rounded-btn" >Mission 3</button>
    <button class="rounded-btn" >Mission 4</button>
    <button class="rounded-btn" >Mission 5</button>
    <button class="rounded-btn" >Mission 6</button>
    <button class="rounded-btn" >Mission 7</button>
    <button class="rounded-btn" >Mission 8</button>

  </div>

 <div class="middle-container"> 

  <!-- Summary cards -->
  <section class="cards">
    <div class="card">
      <h2>Battery Life</h2>
      <p>90%</p>
    </div>
    <div class="card">
      <h2>Coverage of waypoints</h2>
      <p>45% covered</p>
    </div>
  </section>


  <!-- Chart placeholder -->
  <section class="chart">
    <h2>Pretend the map goes here</h2>
    <div class="chart-box">
      <p>(Chart goes here — you’ll plug in Matplotlib or Plotly later!)</p>
    </div>
  </section>
     </div>

      <div class="middle-container"> 

  <!-- Summary cards -->
  <section class="cards">
    <div class="card">
      <h2>Battery Life</h2>
      <p>90%</p>
    </div>
    <div class="card">
      <h2>Coverage of waypoints</h2>
      <p>45% covered</p>
    </div>
  </section>


  <!-- Chart placeholder -->
  <section class="chart">
    <h2>Pretend the map goes here</h2>
    <div class="chart-box">
      <p>(Chart goes here — you’ll plug in Matplotlib or Plotly later!)</p>
    </div>
  </section>
     </div>
     </div>


  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
